<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User {{id}}</title>
</head>
<body>
    <h1>Edit User {{id}}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/users/{{id}}/update" method="post">
        <p>First Name:</p>
        <input type="text" name="first_name" value='{{friend["first_name"]}}'>
        <p>Last Name:</p>
        <input type="text" name="last_name" value='{{friend["last_name"]}}'>
        <p>Email:</p>
        <input type="text" name="email" value='{{friend["email"]}}'>
        <br>
        <input type="submit" value="Update">
    </form>
    <form action="/users/{{id}}" method="get" style="display: inline">
        <input type="submit" value="Show">
    </form>
    <form action="/users" method="get" style="display: inline">
        <input type="submit" value="Go Back">
    </form>
</body>
</html>